$futura = "futura-pt"

.octicons 
	height: auto
	width: auto

html, body
	font-family: $futura, "Arial", sans
	font-size: 100%
	line-height: 1
a
	color: $red
	text-decoration: none
	&:hover
		text-decoration: underline
em
	font-style: italic
nav
	height: 60px
	border-bottom: 1px solid #adadad

	font-size: 1.6em
	font-weight: 400
	a
		text-decoration: none
		color: $blue
	ul
		margin: 0;
		padding: 16px 0 0 0
		text-align: center
		li
			display: inline
			margin: 0 7%

@media all and (min-width: 700px)
	section
		font-size: 110%

		.description
			font-size: 1.3em