$first-breakpoint = 500px
$second-breakpoint = 700px
$third-breakpoint = 900px
$fourth-breakpoint = 1100px

$first-breakpoint-width = 85%
$second-breakpoint-width = 600px
$third-breakpoint-width = 700px
$fourth-breakpoint-width = 900px