.octicons {
  height: auto;
  width: auto;
}

html,
body {
  font-family: futura-pt, "Arial", sans;
  font-size: 100%;
  line-height: 1;
}

a {
  color: #f0424b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

em {
  font-style: italic;
}
/* nav {
  height: 60px;
  border-bottom: 1px solid lighten($calmer-black, 52%);
  font-size: 1.6em;
  font-weight: 400;
}

nav a {
  text-decoration: none;
  color: #289cd8;
}

nav ul {
  margin: 0;
  padding: 16px 0 0 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 7%;
} */

pre {
  background-color: #efefef;
  margin-bottom: 1em;
  overflow-x: scroll;
}

pre code {
  padding-left: 0;
  padding-right: 0;
}

code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 68%;
  background-color: #efefef;
  padding: 2px 5px;
}

@media all and (min-width: 700px) {
  section {
    font-size: 110%;
  }

  .description {
    font-size: 1.3em;
  }
}
